
<%= form_for(@earning_per_share) do |f| %>
  <% if @earning_per_share.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@earning_per_share.errors.count, "error") %> prohibited this earning_per_share from being saved:</h2>

      <ul>
      <% @earning_per_share.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="span-24">
	<fieldset>
		<legend>Earning Per Share</legend>
  <div class="field">
    <%= f.label :name %><br />
        <%= f.select :stock_id, Stock.find(:all , :order => "name").collect {|s|
[(s.name), s.id]} %>

  </div>
  <div class="field">
    <%= f.label :year %><br />
    <% years = {'2015' => '2015' ,'2014' => '2014', '2013' => '2013' } %>
    <% list = years %>
    <%= f.select :year, list %>
  </div>
  <div class="field">
    <%= f.label :quarter %><br />
    <% quarters = { '1' => '1', '2' => '2','3' => '3','4' => '4'} %>
    <% list = quarters %>
    <%= f.select :quarter, list %>
    <!-- <%= f.text_field :quarter %> -->
  </div>
  <div class="field">
    <%= f.label :quarterly_profit %><br />
    <%= f.text_field :quarterly_profit %>
  </div>
  <div class="field">
    <%= f.label :yoy_quarterly_profit %><br />
    <%= f.text_field :yoy_quarterly_profit %>
  </div>
  <div class="field">
    <%= f.label :accumulated_profit %><br />
    <%= f.text_field :accumulated_profit %>
  </div>
  <div class="field">
    <%= f.label :yoy_accumulated_profit %><br />
    <%= f.text_field :yoy_accumulated_profit %>
  </div>
  <div class="field">
    <%= f.label :quarterly_eps %><br />
    <%= f.text_field :quarterly_eps %>
  </div>
  <div class="field">
    <%= f.label :yoy_quarterly_eps %><br />
    <%= f.text_field :yoy_quarterly_eps %>
  </div>
  <div class="field">
    <%= f.label :accumulated_eps %><br />
    <%= f.text_field :accumulated_eps %>
  </div>
  <div class="field">
    <%= f.label :yoy_accumulated_eps %><br />
    <%= f.text_field :yoy_accumulated_eps %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

</fieldset>
</div>
<% end %>