<p id="notice"><%= notice %></p>
<div class="span-24">
  <h3 align="center" class="quiet">
  <%= @earning_per_share.stock.name %>
  </h1>
</div>
<div class="span-24">
<fieldset>
<p></p>
<p>
  <b>Year:</b>
  <%= @earning_per_share.year %>
</p>

<p>
  <b>Quarter:</b>
  <%= @earning_per_share.quarter %>
</p>

<p>
  <b>Quarterly profit:</b>
  <%=h number_with_precision(@earning_per_share.quarterly_profit_in_million, :precision => 2, :delimiter => ',') %>
</p>

<p>
  <b>Yoy quarterly profit:</b>
  <%=h number_with_precision( @earning_per_share.yoy_quarterly_profit_in_million, :precision => 2, :delimiter => ',') %>
</p>

<p>
  <b>Accumulated profit:</b>
  <%=h number_with_precision( @earning_per_share.accumulated_profit_in_million, :precision => 2, :delimiter => ',') %>
</p>

<p>
  <b>Yoy accumulated profit:</b>
  <%=h number_with_precision( @earning_per_share.yoy_accumulated_profit_in_million, :precision => 2, :delimiter => ',') %>
</p>

<p>
  <b>Quarterly eps:</b>
  <%= @earning_per_share.quarterly_eps %>
</p>

<p>
  <b>Yoy quarterly eps:</b>
  <%= @earning_per_share.yoy_quarterly_eps %>
</p>

<p>
  <b>Accumulated eps:</b>
  <%= @earning_per_share.accumulated_eps %>
</p>

<p>
  <b>Yoy accumulated eps:</b>
  <%= @earning_per_share.yoy_accumulated_eps %>
</p>


<%= link_to 'Edit', edit_earning_per_share_path(@earning_per_share) %> |
<%= link_to 'Back', stocks_path %>
<%= link_to 'New Earning per share', new_earning_per_share_path %>

  </fieldset>
</div>