<h1>Listing consensus</h1>



<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :stock_name_cont, "Name contains" %>
    <%= f.text_field :stock_name_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>



<table>
  <tr>
    <th>Broker</th>
    <th>This year eps</th>
    <th>%change</th>    
    <th>Next year eps</th>
    <th>%change</th>    
    <th>Pe</th>
    <th>P/BV</th>    
    <th>Yield</th>
    <th>Target price</th>
    <th>Recommend</th>
    <th>Published</th>

    <th>Profit</th>

  </tr>

<% @consensus.each do |consensu| %>
  <tr>
    <td><%= consensu.broker.name %></td>

    <td><%= number_with_precision(consensu.this_year_EPS, :precision => 2) %></td>
    <td><%= number_with_precision(consensu.this_year_change, :precision => 1, :delimiter => ',') %></td>    
    <td><%= number_with_precision(consensu.next_year_EPS, :precision => 2) %></td>
    <td><%= number_with_precision(consensu.next_year_change, :precision => 1, :delimiter => ',') %></td>    
    <td><%= number_with_precision(consensu.PE, :precision => 2) %></td>
    <td><%= number_with_precision(consensu.price_book_value, :precision => 1) %></td>    
    <td><%= number_with_precision(consensu.yield, :precision => 2) %></td>
    <td><%= number_with_precision(consensu.target_price, :precision => 2) %></td>
    <td><%= consensu.recommend %></td>
    <td><%= consensu.last_published.to_s(:short) %></td>

    <td><%= number_with_precision(consensu.this_year_profit, :precision => 0, :delimiter => ',') %></td>     

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Consensu', new_consensu_path %>
