

<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>


<table>
  <tr>
    <th>Name</th>
    <th></th>   
    <th>Brokers</th>   
    <th>Target</th>      
    <th>Price</th>
    <th>Maximum</th>
    <th>Minimum</th>
    <th>Buy Target</th>
    <th>Sales Target</th>    

    <th>Amount</th>
    
    <th></th>
    <th>Updated</th>
    <th>In Port</th>
    <th>On Watch</th>
  </tr>

  <%= render :partial => @stocks %>

</table>
<br />
<div class="span-8">
	<%= link_to 'New Stock', new_stock_path %>
</div>
<div class="span-8">
	<%= link_to 'New EPS', new_earning_per_share_path %>
</div>
<div class="span-8 last">
	<%= link_to 'Back', stocks_path %>
</div>