<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Maximum</th>
    <th>Minimum</th>
    <th>Buy Target</th>
    <th>Quantity</th>
    <th>Amount</th>
    <th>No. of EPS</th>
    <th>Status</th>
    <th></th>
    <th></th>
     <th>Updated</th>
  </tr>

<% @stocks.each do |stock| %>
<% if stock.prices.first.min_price <= stock.buy_target %>
  <tr>
    <td><%= stock.name %></td>
    <td><%= number_to_currency(stock.prices.first.price) %></td>
    <td><%= number_to_currency(stock.prices.first.max_price) %></td>
    <td><%= number_to_currency(stock.prices.first.min_price) %></td>
    <td><%= number_to_currency(stock.buy_target) %></td>
    <td><%= stock.prices.first.qty %></td>
    <td><%= number_to_currency(stock.prices.first.qty * stock.prices.first.price) %></td>
    <td><%= stock.earning_per_shares.count %></td>
     <td><%= stock.status %></td>
    <td><%= link_to_icon( 'Show', stock) %></td>
    <td><%= link_to_icon( 'Edit', edit_stock_path(stock)) %></td>
     <td><%= stock.updated_at.to_s(:short) %></td>
  </tr>
<% end %>
<% end %>
</table>

<br />

<%= link_to 'New Stock', new_stock_path %>
