<p id="notice"><%= notice %></p>
<div class="span-24">
  <h3 align="center" class="quiet">
  <%= @stock.name %>
  </h1>
</div>

<div class="span-24">
<fieldset>
<legend>Price</legend>
<div class="span-5">
  <b>Close:</b>
  <div class="append-1">
  <%= number_with_precision(@stock.prices.first.price, :precision => 2) %>
  </div>
</div>
<div class="span-5">
  <b>Maximum:</b>
  <div class="append-1">
  <%= number_with_precision(@stock.prices.first.max_price, :precision => 2) %>
  </div>
</div>
<div class="span-5">
  <b>Minimum:</b>
  <div class="append-1">
  <%= number_with_precision(@stock.prices.first.min_price, :precision => 2) %>
  </div>
</div>
<div class="span-5">
  <b>Qty:</b>
  <div class="append-1">
  <%= number_with_delimiter(@stock.prices.first.qty) %>
  </div>
</div>

</fieldset>
</div>

<div class="span-24">
<fieldset>
<legend>P/E</legend>
<div class="span-5">
  <b>Average EPS = </b>
  <% avg_eps = ((@stock.earning_per_shares.sum(:quarterly_eps, :conditions => ["year = ? or (year < ? and quarter > ?)",@stock.earning_per_shares.first.year,@stock.earning_per_shares.first.year,@stock.earning_per_shares.first.quarter]))/(@stock.earning_per_shares.count(:conditions => ["year = ? or (year < ? and quarter > ?)",@stock.earning_per_shares.first.year,@stock.earning_per_shares.first.year,@stock.earning_per_shares.first.quarter]))*4).round(2)%>
  <%= number_with_precision(avg_eps, :precision => 2) %>
</div>

<div class="span-5">
  <b>P/E * 10 = </b>
  <%= number_with_precision(avg_eps*10, :precision => 2, :delimiter => ',') %>
</div>
<div class="span-5">
  <b>P/E * 15 = </b>
  <%= number_with_precision(avg_eps*15, :precision => 2, :delimiter => ',') %>
</div>
<div class="span-5 last">
  <b>P/E * 20 = </b>
  <%= number_with_precision(avg_eps*20, :precision => 2, :delimiter => ',') %>
</div>

</fieldset>
</div>

<div class="span-24 prepend-10">
  <b>Average P/E = </b>
 <%= number_with_precision(@stock.prices.first.price.div(avg_eps), :precision => 2) %>
</div>
<div class="span-24">
<fieldset>
<legend>Quarterly Profit & Earning per Share</legend>
<table border='0'>

	<tr>
		<th></th>
		<th></th>
		<th colspan="4" class="large">Earning Per Share</th>

		<th colspan="4" class="large">Profit in Million</th>

	</tr>
	<tr>
		<th>Year</th>
		<th>Quarter</th>
		<th>Quarterly</th>
		<th> YoY</th>
		<th>Accumulated</th>
		<th>YoY</th>
		<th>Quarterly</th>
		<th>YoY</th>
		<th>Accumulated</th>
		<th>YoY</th>
	</tr>
<% for earning_per_share in @stock.earning_per_shares %>
	<tr>
		<td><%=h earning_per_share.year %></td>
		<td align="center"><%=h earning_per_share.quarter%></td>

		<td><%=h earning_per_share.quarterly_eps %></td>
		<td><%=h earning_per_share.yoy_quarterly_eps %></td>
		<td><%=h earning_per_share.accumulated_eps %></td>
		<td><%=h earning_per_share.yoy_accumulated_eps %></td>

		<td><%=h number_with_precision(earning_per_share.quarterly_profit_in_million, :precision => 2, :delimiter => ',') %></td>
		<td><%=h number_with_precision(earning_per_share.yoy_quarterly_profit_in_million, :precision => 2, :delimiter => ',') %></td>
		<td><%=h number_with_precision(earning_per_share.accumulated_profit_in_million, :precision => 2, :delimiter => ',') %></td>
		<td><%=h number_with_precision(earning_per_share.yoy_accumulated_profit_in_million, :precision => 2, :delimiter => ',') %></td>

	</tr>
<% end %>
</table>
</fieldset>
</div>
<p/>
<p/>
<div class="span-8">
<%= link_to 'Edit', edit_stock_path(@stock) %>
</div>
<div class="span-8">
<%= link_to 'Back', stocks_path %>
</div>
<div class="span-8 last">
<%= link_to 'New EPS', new_earning_per_share_path %>
</div>