<!DOCTYPE html>
<html>
	<head>
  		<title>EPS</title>
  		<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  		<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  		<%= javascript_include_tag :defaults %>
  		<%= csrf_meta_tag %>
	</head>
	<body>
		<div id="main1">
			<div id="main2">
				<div class="container showgrid">
					<div id="header" class="span-16"></div>

					<%= yield %>
				</div>
			</div>
		</div>
	</body>
</html>
